<!DOCTYPE html>
<html>
  <head>
    <title>Biblioteca</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui left visible vertical inverted sidebar labeled icon menu">
      <%= link_to books_url, class: 'item' do %>
        <i class="book icon"></i>
        Libros
      <% end %>
      <%= link_to history_url, class: 'item' do %>
        <i class="list icon"></i>
        Historial
      <% end %>
      <%= link_to delete_session_url, method: :post, class: 'item' do %>
        <i class="close icon"></i>
        Salir
      <% end %>
    </div>
    <div class="content-fixed">
      <%= yield %>
    </div>
  </body>
</html>
